@media (min-width: 1400px) {
    .container {
        max-width: 1400px;
    }
}

.person-card {
    border-color: gold;
    border-width: 2px;
}

.card {
    background-color: black;
    color: white;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}